body {
  background-color: #c9abd6;
  color: #4B2E2B;
  font-family: 'Georgia', serif;
  line-height: 1.7;
  padding: 0 1rem;
}

a {
  color: #8B5E3C;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3 {
  color: #4B2E2B;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

main {
  max-width: 700px;
  margin: 3rem auto;
}

:root {
  --bg: #0f0f0f;
  --card: #1a1a1a;
  --text: #986262;
  --muted: #bbbbbb;
  --border: #2a2a2a;
  --hover: #222;
  --accent: #a78bfa;   /* lavender */
  --accent2: #7dd3fc;  /* blue */
}

[data-theme='dark'] {
  --bg: #121212;
  --text: #87b062;
  --card: #1e1e1e;
  --accent: #9165c6;
}

button {
  color: var(--text);
  border: 1px solid var(--accent);
  padding: 6px 12px;
  border-radius: 999px;
  margin-right: 8px;
}

.active-btn {
  background-color: var(--accent);
  color: rgb(209, 186, 186);
}
