:root {
  --bg-color: #100f0e;
  --text-color: #20d3c4;
  --card-bg: #060505;
  --card-shadow: rgba(174, 138, 210, 0.06);
}

[data-theme='dark'] {
  --bg-color: #1a1a1a;
  --text-color: #fff8f0;
  --card-bg: #2c2c2c;
  --card-shadow: rgba(255, 255, 255, 0.05);
}

/* Global heading styling */
h1, h2, h3, h4, h5, h6 {
  color: var(--text-color);
}

* {
  transition: color 0.3s ease, background-color 0.3s ease;
}


